<div class="img-logo pt-2">
    <img  class="img-ellipse" ngSrc="assets/imagens/logo.png" width="80" height="95" priority>
</div>
<div class="header  d-flex container">
    <div class="logo row col-6">
        <div class="col-2">
            <h3 class="texto-logo-1 ">Agenda</h3>
        </div>
        <div class="col-2">
            <h3 class="texto-logo-2">Saúde</h3>
        </div>
    </div>

    <div class=" row col-8  align-items-center">
        <div class="menu col-2">
            <a type="button" class="btn btn-light" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
        </div>
        <div class="menu col-2">
            <a type="button" class="btn btn-light">Agendamento</a>
        </div>
        <div class="menu col-2">
            <a type="button" class="btn btn-light">Serviços</a>
        </div>

        <div class=" row col-4 d-flex flex-row-reverse  align-items-center">
            @if(!logado){
              <div class="menu col-6">
                <button type="button" class="btn btn-primary" [routerLink]="['login']" routerLinkActive="router-link-active">Sign In</button>
            </div>  
            }@else {
                <div class="menu col-6">
                    <button type="button" class="btn btn-danger" [routerLink]="['login']" routerLinkActive="router-link-active">Sign Up</button>
                </div>
            }
        </div>
    </div>
</div>