.img-logo {
  position: fixed;
  top: 2px;
  left: 195px;
}

.header {
    background-color: #EDF1FF;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 10px;

  
    .logo {
      .texto-logo-1 {
        color: #4D77FF;
      }
    }

    .menu {
      a{
        font-family: "Inter";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
      }
    
    }

}