.home {
  margin-top: 20rem;
  .cabecalho {
    .title-1 {
      color: #4d77ff;
      font-family: "Inter";
      font-size: 3rem;
      font-style: normal;
      font-weight: 500;
    }
    .title-2 {
      font-family: "Inter";
      font-size: 3rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  .img {
    .img-ellipse {
        position: relative;
        top: -480px;
        left: 972px;
    }
    .img-doctor {
      position: relative;
      top: -1170px;
      left: 971px;
    }
  }
}
