<div class="home">
  <div class="row col-12 mt-5 card-descricao-1">
    <div
      data-aos="fade-up"
      data-aos-duration="3000"
      class="row col-6 d-flex justify-content-end"
    >
      <div class="cabecalho" style="width: 40rem">
        <div class="card-body">
          <h3 class="title-1 m-0">Medical management</h3>
          <h3 class="title-2 m-0">in the palm of your hand</h3>
        </div>
        <p class="text mt-3">
          "Bem-vindo ao Gestão Agenda, sua solução completa para gestão
          eficiente de pacientes, agendamentos e estatísticas de atendimentos.
          Projetado para médicos e clínicas, nosso sistema intuitivo oferece
          ferramentas robustas para agendar consultas, acompanhar históricos
          médicos, e analisar dados estatísticos para melhorar o atendimento.
          Simplifique sua prática médica com Gestão Agenda, garantindo
          eficiência e cuidado excepcional para seus pacientes."
        </p>
        <a href="#" class="btn btn-primary">Entre em contato </a>
      </div>
    </div>
    <div class="row col-12">
      <div data-aos="fade-left" data-aos-duration="1500" class="img col-6">
        <img
          class="img-ellipse"
          ngSrc="assets/imagens/Ellipse.png"
          width="885"
          height="470"
          priority
        />
        <img
          class="img-doctor"
          ngSrc="/assets/imagens/female_doctor.png"
          width="885"
          height="690"
          priority
        />
      </div>
      <div class="col card-descricao-2 pt-4">
        <div class="col-12">
          <p>Nossas Soluções</p>
        </div>
        <div class="col-12">
          <h3>step by step to get your solutions</h3>
        </div>
      </div>
    </div>
    
    
  </div>
  
</div>
